@* indicates that the view excepts a list of project objects as its model *@
@using COMP2139_Labs.Models
@model List<project>

@{
    ViewBag.Title = "List of Projects";
    Layout = "_Layout";
}

<h2>Project Listing </h2>

@if (Model.Any())
{
    //iteration
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <!-- Any other projects fields you desire-->
            </tr>
        </thead>
        
        <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.ProjectId</td>
                <td>@project.Name</td>
                <td>@project.Description</td>
                <!-- Any other projects fields you desire-->
            </tr>
        }
    </tbody>
        
    </table>
}
else
{
    <p>No projects available</p>
}    
