@{
    //Define variables for name and student number
    var name = "Tirth Rabadiya";
    var studentNumber = "101505258";
    var courseCode = "COMP 2139 - W2025";
}

<div>
    <h1>Welcome to the Page</h1>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course Code: @courseCode</p>
</div>